[submodule "libs/FrostCore"]
	path = libs/FrostCore
	url = https://github.com/FrostlessNetwork/FrostCore.git
	branch = master
[submodule "libs/ServerAPI"]
	path = libs/ServerAPI
	url = https://github.com/FrostlessNetwork/ServerAPI.git
